<form class="experimentForm" method="get">
    <div class="modal-header">
        <h4 id="formTitle" class="modal-title">Follow-up Questions</h4>
    </div>
    <div id="formBody" class="modal-body">
        <div id="followUpAlert" class="validationError hide">
            <div class="alert alert-warning fade in">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <span id="errorCount" class="badge"></span>&nbsp;<strong>Error(s):</strong>
                <span>Please provide an answer of sufficient length.</span>
            </div>
        </div>

        <p>
            You have just indicated that the person from the ORIGINAL video was
            {{#reject}}<u>not</u>{{/reject}} present in the lineup.
            We're interested in how you made your decision.
        </p>

        <div class="q">
            <p>
                <label for="q1">
                    Can you please briefly describe how you made your decision
                    and what information you used to do so.
                </label>
                <span class="glyphicon glyphicon-exclamation-sign hide"
                      data-toggle="tooltip"
                      title="A minimum of 20 characters is expected"></span>
            </p>

            <textarea class="form-control" rows="3" name="justification" placeholder="Type your answer here (minimum 20 characters)"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <span style="opacity: 0.6">Click here to proceed</span>
        <button type="submit" class="btn btn-default" value="Continue">Continue</button>
    </div>
</form>


<script>
    // If the form is being submitted without the submitHandler being called
    // (evidenced by screen reloading with ?age=XX&gender=YY....
    // as part of the URL) the problem is often that the call to validate
    // below did not locate the appropriate form element.

    $('.experimentForm').validate({
        submitHandler: function (form) {
            console.log("submit pressed");
            experiment.next();
        },
        onsubmit: true,
        debug: false,
        rules: {
            justification: {required: true, minlength: 20}
        },
        invalidHandler: function (event, defaultValidator) {
            // 'this' refers to the form
            var errors = defaultValidator.numberOfInvalids();
            if (errors) {
                $("#errorCount").text(errors);
                $('#followUpAlert').removeClass("hide");
            }
            else {
                $('#followUpAlert').addClass("hide");
            }
        },
        highlight: function (element, errorClass, validClass) {
            console.log("error highlight ");
            $(element).closest(".q").find(".glyphicon").removeClass("hide").tooltip({placement: "auto right"});
        },
        unhighlight: function (element, errorClass, validClass) {
            console.log("error unhighlight ");
            $(element).closest(".q").find(".glyphicon").addClass("hide");
        },
        errorPlacement: function (error, element) {
        }
    });

</script>



