<div id="{{id}}" class="trialContainer">

    <div id="studyTrialPanel" class="panel">
        <div class="trialHeader">
            <h4 id="stageText" class="contextText">Phase</h4>
            <h4 id="questionText" class="contextText"></h4>
        </div>
        <div class="trialBody">
            <div id="p1" class="instructionsPage invisible">
                <p id="p1-1" class="instructionsPara col1-3">
                    We'd now like to show you a short clip,
                    cut at random from a scene we have filmed.
                    Following this you will be asked questions
                    about the video.
                </p>

                <p id="p1-2" class="instructionsPara col1-3">
                    We need everyone to <b>watch carefully,
                    without interruption and without pausing</b>.
                    So please ensure that you can be free of interruption
                    before starting the video.
                </p>

                <p id="p1-3" class="instructionsPara col1-3">
                    <b>Do not click on or
                    pause the video while it is playing, as this
                    will terminate your participation</b> in this experiment.
                </p>

                <p id="p1-4" class="instructionsPara col1-3">
                    Once the video has finished playing, this screen
                    will return and you can continue with the rest of
                    the experiment.
                </p>
            </div>
        </div>
        <div class="trialFooter">
            <div id="instructionStepper" class="contextText">
                <span id="reminderText">reminder</span>
                <button id="stepButton" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </div>
        </div>
    </div>

    <div id="contentPanel" class="panel">
        <div id="video-placeholder" class="video">
            If you are seeing this message, then the there
            has been a problem loading the video that we wished
            to show you. Please wait a short while, and
            check whether your internet connection is working
            properly. If the video fails to load, then you should
            quit the experiment and report the fault. Please
            accept our apologies for any inconvenience that
            this problem may have caused.
        </div>
    </div>
</div>

