<div id="{{id}}" class="trialContainer rankTrial">

    <!--
    <div style="background-color: black; color: white">
    {{#S}}Strong vision (long video),{{/S}}
    {{#W}}Weak vision (short video),{{/W}}
    {{#H}}High likelihood,{{/H}}
    {{#L}}Low likelihood,{{/L}}
    {{#A}}target Absent{{/A}}
    {{#P}}target Present{{/P}}
    </div>
    -->

    <div id="rankTrialPanel" class="panel">
        <div class="trialHeader">
            <h4 id="stageText" class="contextText">Phase</h4>
            <h4 id="questionText" class="contextText">&nbsp;</h4>
        </div>
        <div class="trialBody">
            <div id="p1" class="instructionsPage invisible">
                <p id="p1-1" class="instructionsPara col2-4">
                    We can't tell you whether you made the correct decision
                    about the lineup, but we would like to gather some
                    more information.
                </p>

                <p id="p1-2" class="instructionsPara col2-4">
                    We're going to show you the lineup
                    again. Each time we do, we want you
                    to select the photograph that most resembles the
                    person you saw in the <b>ORIGINAL</b> video,
                    even if you don't think its the same person.
                </p>

                <p id="p1-3" class="instructionsPara col2-4">
                    We'll then take away the photograph you selected
                    and repeat the process until there's only
                    one photograph remaining.
                </p>

                <p id="p1-4" class="instructionsPara col2-4">
                    Your second, third and subsequent choices can
                    tell us a lot about the way people make identification
                    decisions, so please make your best judgment on each round.
                </p>
            </div>

            <div id="lineupPanel" class="hidden instructionsPage">
                <div id="lineupArray">
                    {{#suspects}}
                        <div id="suspectCell">
                            <div id="{{id}}" class="suspectContainer">
                                <img id="{{id}}" class="suspectImage" draggable="false" src="{{image}}">
                                <img class="tick" draggable="false" src="images/tick.png">
                            </div>
                        </div>
                    {{/suspects}}
                </div>
                <div id="p2">
                    <p id="p2-1" class="instructionsPara col1-4">
                        To identify the person you saw in the <b>ORIGINAL</b> video,
                        click on their photograph above.
                    </p>
                    <p id="p2-1b" class="instructionsPara col1-4 hidden">
                        You have identified the person that you think
                        most resembles the person you saw in the
                        <b>ORIGINAL</b> video. But we're still interested
                        in your next choice.
                    </p>
                    <p id="p2-2" class="instructionsPara col1-4">
                        Even if the person isn't present, please select the photograph
                        that you think most resembles the person you saw.
                    </p>
                    <p id="p2-2b" class="instructionsPara col1-4 hidden">
                        So from the remaining photographs, please select
                        the photograph that you think most resembles the person you saw.
                    </p>
                    <p id="p2-3" class="instructionsPara col1-4">
                        Take as much time as you need before
                        making your decision.
                    </p>
                    <p id="p2-4" class="instructionsPara col1-4">
                        You can change your mind by clicking on
                        a different photograph. Your choice is not
                        confirmed until you press the button at the
                        bottom right of this panel.
                    </p>
                </div>
            </div>
        </div>
        <div class="trialFooter">
            <div id="instructionStepper" class="contextText">
                <span id="reminderText">reminder</span>
                <button id="stepButton" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </div>
        </div>
    </div>
</div>