<div id="{{id}}" class="trialContainer testTrial">

    <!--
    <div style="background-color: black; color: white">
    {{#S}}Strong vision (long video),{{/S}}
    {{#W}}Weak vision (short video),{{/W}}
    {{#H}}High likelihood,{{/H}}
    {{#L}}Low likelihood,{{/L}}
    {{#A}}target Absent{{/A}}
    {{#P}}target Present{{/P}}
    </div>
    -->

    <div id="testTrialPanel" class="panel">
        <div class="trialHeader">
            <h4 id="stageText" class="contextText">Phase</h4>
            <h4 id="questionText" class="contextText">&nbsp;</h4>
        </div>
        <div class="trialBody">
            <div id="p1" class="instructionsPage invisible">
                <p id="p1-1" class="instructionsPara col2-4">
                    We would now like you to try and identify the
                    person you saw in the <b>ORIGINAL</b> video
                    from a number of photographs (ordered randomly)
                    in what we call a <i>lineup</i>.
                </p>

                <p id="p1-2" class="instructionsPara col2-4">
                    After making your decision, you will be asked
                    to rate how confident you are that you chose correctly.
                </p>

                <p id="p1-3" class="instructionsPara col2-4">
                    This lineup has been chosen from one of several
                    that we are showing people who do our experiment.
                    We have arranged it so that the <b>person you saw
                    in the ORIGINAL video appears in {{#H}}8{{/H}}{{#L}}3{{/L}}
                    out of every 10 lineups</b>.
                    This means that there is a <b>{{#H}}20%{{/H}}{{#L}}70%{{/L}}
                    chance</b> that the person you saw in the ORIGINAL video
                    is <b><u>not</u> in the lineup</b>.
                </p>

                <p id="p1-3" class="instructionsPara col2-4">
                    Also note that a person in the lineup might
                    appear different than in the video,
                    because some features like hairstyle are subject to change.
                </p>
            </div>

            <div id="lineupPanel" class="hidden instructionsPage">
                <div id="lineupArray">
                    {{#suspects}}
                        <div id="suspectCell">
                            <div id="{{id}}" class="suspectContainer">
                                <img id="{{id}}" class="suspectImage" draggable="false" src="{{image}}">
                                <img class="tick" draggable="false" src="images/tick.png">
                            </div>
                        </div>
                    {{/suspects}}
                </div>
                <div id="p2">
                    {{#silhouette}}
                        <div id="silhouetteCell">

                            <div id="{{id}}" class="suspectContainer silhouette">
                                <img id="{{id}}" class="suspectImage" draggable="false" src="{{image}}">
                                <img class="tick" draggable="false" src="images/tick.png">
                            </div>
                        </div>
                    {{/silhouette}}
                    <p id="p2-1" class="instructionsPara col1-4">
                        To identify the person you saw in the <b>ORIGINAL</b> video,
                        click on their photograph.
                    </p>
                    <p id="p2-2" class="instructionsPara col1-4">
                         If the person isn't present, click on the image labelled "NOT PRESENT".
                    </p>
                    <p id="p2-3" class="instructionsPara col1-4">
                        Take as much time as you need before
                        making your decision.
                    </p>
                    <p id="p2-4" class="instructionsPara col1-4">
                        You can change your mind by clicking on
                        a different photograph. Your choice is not
                        confirmed until you press the button at the
                        bottom right of this panel.
                    </p>
                </div>
            </div>
        </div>
        <div class="trialFooter">
            <div id="instructionStepper" class="contextText">
                <span id="reminderText">reminder</span>
                <button id="stepButton" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </div>
        </div>
    </div>
</div>