<form class="experimentForm" method="get">
    <div class="modal-header">
        <h4 id="formTitle" class="modal-title">Follow-up Questions</h4>
    </div>
    <div id="formBody" class="modal-body">
        <div id="followUpAlert" class="validationError hide">
            <div class="alert alert-warning fade in">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <span id="errorCount" class="badge"></span>&nbsp;<strong>Error(s):</strong>
                <span>Please answer each question.</span>
            </div>
        </div>

        <p>
            Congratulations! You have completed the main experiment.
            Before you finish, please answer the following questions
            which provide us valuable information about the experiment.
        </p>

        <div class="q">
            <p>
                <label for="q1">
                    1. How difficult did you find the task overall?
                </label>
                <span class="glyphicon glyphicon-exclamation-sign hide"
                      data-toggle="tooltip"
                      title="Missing answer"></span>
            </p>

            <div>
                <input type="radio" name="difficulty" value="1" onfocus="$(this).attr('checked', true);">
                &nbsp; Very easy
            </div>

            <div>
                <input type="radio" name="difficulty" value="2" onfocus="$(this).attr('checked', true);">
                &nbsp; Easy
            </div>

            <div>
                <input type="radio" name="difficulty" value="3" onfocus="$(this).attr('checked', true);">
                &nbsp; Average
            </div>

            <div>
                <input type="radio" name="difficulty" value="4" onfocus="$(this).attr('checked', true);">
                &nbsp; Difficult
            </div>

            <div>
                <input type="radio" name="difficulty" value="5" onfocus="$(this).attr('checked', true);">
                &nbsp; Very difficult
            </div>
            <br>
        </div>

        <div class="q">
            <p>
                <label for="q2">
                    2. Did you understand what you had to do?
                </label>
                <span class="glyphicon glyphicon-exclamation-sign hide"
                      data-toggle="tooltip"
                      title="Missing answer"></span>
            </p>

            <div>
                <input type="radio" name="clarity" value="1" onfocus="$(this).attr('checked', true);">
                &nbsp; All instructions were clear.
            </div>

            <div>
                <input type="radio" name="clarity" value="2" onfocus="$(this).attr('checked', true);">
                &nbsp; Instructions were mostly clear.
            </div>

            <div>
                <input type="radio" name="clarity" value="3" onfocus="$(this).attr('checked', true);">
                &nbsp; The instructions were unclear, but I guessed what to do.
            </div>

            <div>
                <input type="radio" name="clarity" value="4" onfocus="$(this).attr('checked', true);">
                &nbsp; I had no idea what to do.
            </div>
            <br>
        </div>

        <div class="q">
            <p>
                <label for="q3">
                    3. Do you have any other comments that could help us improve
                    this experiment.
                </label>
                <span class="glyphicon glyphicon-exclamation-sign hide"
                      data-toggle="tooltip"
                      title="Enter comments here"></span>
            </p>

            <textarea class="form-control" rows="3" name="comments" placeholder="Type your comments here"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <span style="opacity: 0.6">Click here to proceed</span>
        <button type="submit" class="btn btn-default" value="Continue">Continue</button>
    </div>
</form>


<script>
    // If the form is being submitted without the submitHandler being called
    // (evidenced by screen reloading with ?age=XX&gender=YY....
    // as part of the URL) the problem is often that the call to validate
    // below did not locate the appropriate form element.

    $('.experimentForm').validate({
        submitHandler: function (form) {
            console.log("submit pressed");
            experiment.next();
        },
        onsubmit: true,
        debug: false,
        rules: {
            difficulty: {required: true},
            interest: {required: true},
            strategy: {required: true},
            // comments: {required: true, minlength: 20}
        },
        invalidHandler: function (event, defaultValidator) {
            // 'this' refers to the form
            var errors = defaultValidator.numberOfInvalids();
            if (errors) {
                $("#errorCount").text(errors);
                $('#followUpAlert').removeClass("hide");
            }
            else {
                $('#followUpAlert').addClass("hide");
            }
        },
        highlight: function (element, errorClass, validClass) {
            console.log("error highlight ");
            $(element).closest(".q").find(".glyphicon").removeClass("hide").tooltip({placement: "auto right"});
        },
        unhighlight: function (element, errorClass, validClass) {
            console.log("error unhighlight ");
            $(element).closest(".q").find(".glyphicon").addClass("hide");
        },
        errorPlacement: function (error, element) {
        }
    });

</script>



